:root{
    --clr-neutral-900:hsl(207, 19%, 9%);
    --clr-neutral-100:hsl(0, 0%, 100%);
    --clr-accent-400:#ee6c4d;
}

*,*::before,*::after {
    box-sizing: border-box;
}

body {
    display: grid;
    min-height: 100vh;
    place-items: center;
    line-height: 1.6;
    background: var(--clr-neutral-900);
    font-family: sans-serif;
}

.card {
    color:var(--clr-neutral-100);
    background-image: url(images/1607441172662.jpeg);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius:0.5rem;
    overflow: hidden;
    transition: transform 500ms ease;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
}

.card:hover, .card:focus-within{
    transform:scale(1.1) 
}

.card-body {
    color: rgb(255,255,255 / 0.85);
}

.card-content {
    --padding:1.5rem;

    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0%  0% / 0),
        hsl(20 0%  0% / 0.3) 20%,
        hsl(0 0%  0% / 1)
    );
}


.card-title {
    position: relative;
    width:max-content;
}

.card-title::after{
    content: "";
    position:absolute;
    bottom: -2px;
    left: calc((var(--padding)) * -1);
    background:var(--clr-accent-400);
    height:4px;
    width:calc(100% + var(--padding));

}


.card:hover .card-title::after,
.card:focus-within .card-title::after {
    transform: scaleX(1)
}
.button {
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-accent-400);
    padding: 0.5em 1.25em;
    border-radius:0.25em;
}

.button:hover, .button:focus{
    background-color: var(--clr-neutral-100);
}

@media(hover) {
.card-content{
    transform: translateY(72%);
    transition: transform 500ms ease;
}
.card:hover .card-content,
.card:focus-within .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
}

.card:focus-within .card-content {
    transition-delay: 0ms;
}

.card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
    transition-delay: 1000ms; 
}

.card:hover .card-content > *,
.card:focus-within .card-content > * {
    opacity: 1;
}

.card-title:after{
    transform-origin: left;
    transition: transform 500ms ease;
    transform:scaleX(0);
}
}

@media (prefers-reduced-motion: reduce) {
    *, *::after, *::before {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01m !important;
        scroll-behavior: auto !important;
        transition-delay: 0ms !important;
    }
}